.line {
  width: 100%;
  height: 1px;
  background-color: #d3d3d3;
}

.sectionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.formContainer h1 {
  font-size: 2rem;
  font-weight: 700;
}

.rememberMeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rememberMeContainer div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.span {
  font-size: 0.875rem;
  font-weight: bold;
  color: red
}

@media screen and (max-width: 768px) {
  .mainContainer {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .formContainer {
    justify-content: center;
    margin: 8px;
  }

  .formContainer h1 {
    font-size: 1.5rem;
  }

  .imageContainer {
    width: 100%;
    margin: 8px;
    height: fit-content;
  }
}