.sectionContainer {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cardContainer {
  display: grid;
  gap: 8px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  width: 40%;
}

.formContainer {
  display: grid;
  gap: 8px;
  margin: 16px;
}

.formContainer div {
  display: grid;
}

.formContainer label {
  font-size: 16px;
}