.sectionContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  width: 80%;
}

.formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin: 16px;
}

.formContainer div {
  display: grid;
}