.container {
  height: 35px;
  background: white;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  position: relative;
  padding: 10px 20px;
  /* transform: translateX(100%); */

  animation: card 0.8s ease;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.containerGrid {
  height: 78px;
  background: white;
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 15px 20px;
  border-bottom: 1px solid rgb(240, 240, 240);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.containerGrid .image {
  height: 100%;
  width: 84px;
}

.containerGrid .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.containerGrid .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  color: black;
  gap: 0;
  overflow: hidden;
  white-space: break-spaces;
}

.containerGrid .title {
  font-size: 16px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.containerGrid .subtitle {
  font-size: 14px;
  white-space: break-spaces;
}

.containerGrid .container_subtitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 4px;
}

.text {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  color: black;
  gap: 10px;
  overflow: hidden;
  white-space: nowrap;
}

.container:hover,
.containerGrid:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

.title {
  margin-bottom: 2px;
  color: black;
  /* font-family: "Roboto", sans-serif; */
  font-size: 14px;
  font-weight: 600;
}

.subtitle {
  color: rgb(121, 121, 121);
  font-size: 12px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@keyframes card {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes card2 {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 720px) {
  .containerList {
    width: 100%;
    height: 25%;
    background: #2f4c8f;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    position: relative;
    padding: 10px;
  }

  .linkContainer {
    width: 29px;
    height: 29px;
    background-color: #183883;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    right: 0;
    position: absolute;
    margin-right: 10px;
  }

  .containerTitle {
    display: flex;
    justify-content: center;
    margin-right: 20px;
  }

  .containerTitle img {
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid white;
    border-radius: 10px;
    display: none;
  }

  .containerDescription h3 {
    margin-bottom: 2%;
  }
}
